{% load static %}
<!doctype html>

<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="shortcut icon" href="{% static 'wondicon-ui-free-sleep_111270.png' %}">
    <title>{% block Title %}{% endblock %}</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'wondicon-ui-free-sleep_111270.png' %}" width="35" height="35" class="mr-4" alt="">SIMS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">

          <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'syncs' %}">Синхронизация <span class="sr-only">(текущая)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'analysis' %}">Анализ</a>
              </li>
            {% endif %}
          </ul>
        <span class="navbar-text">
          {% if user.is_authenticated %}
            Привет, {{ user.first_name }} {{ user.last_name }}&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'parameters' %}">Параметры</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'logout' %}">Выйти</a>
          {% else %}
            <a href="{% url 'register' %}">Регистрация</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'login' %}">Вход</a>
          {% endif %}
        </span>
      </div>
    </nav>
  <div class="container mt-3">

    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'error' %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        {% else %}
          <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
          </div>
        {% endif %}


      {% endfor %}
    {% endif %}

    {% block Body %}{% endblock %}
  </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  </body>
</html>